@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

:root{
    --color1:rgb(102, 102, 240);
    --color2:rgb(251, 121, 121);
    --color3:rgb(180, 242, 156);
    --color4:rgb(144, 243, 235);
    --color5:rgb(243, 186, 64);
    
}

body{
    font-family: "Baloo Bhai 2", sans-serif;    
}   

.card{
    height: 400px;
    width: 300px;
    border-radius: 15px;
    margin: auto;
    margin-top: 15vh;
    box-shadow: 0px 0px 20px 0px black;
}

.profile{
    height: 30%;
    width: 300px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: var(--color4);
    position: relative;

    display: flex;


}

.image img{
    border-radius: 50%;
    border: 2px solid white;  

}

.image{
    border: 2px solid var(--color4);
    height:100px;
    width: 100px;
    position: absolute;
    top: 30px;    
    right: 95px;

    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 52%;
}

.details{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.details .info{
    /* border: 2px solid gray; */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.info p{
    padding: 0%;
    margin: 0%;
}

p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}
p:nth-child(2){
    margin-top: 5px;
    font-size: 15px;
}
p:nth-child(3){
    margin-top: -5px;
    font-size: 14px;
}

.lang{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.lang p, .links p{
    margin: 0%;
    padding: 0px;
    font-weight: 500;
}

img:hover{
    filter: drop-shadow(0px 0px 2px var(--color4));
}

a{
    text-decoration: none;
    color: black;
}

.image img:hover{
    transform: scale(3);
    /* transition: all ease-in 1s; */
    text-align: center;
}